
  {% extends 'base.html' %}
  {% load crispy_forms_tags %}
  {% load tailwind_filters %}
  {% block content %}
  <head>
    <meta charset="UTF-8" />
    <title>login</title>
  </head>

    <div
      class="relative antialiased flex text-gray-800 mt-21flex-col justify-center overflow-hidden py-4 sm:py-12"
    >
      <div
        class="relative py-2 px-6 pt-10 pb-8 max-w-5xl mx-auto sm:mx-auto sm:rounded-lg sm:px-10 sm:w-96 text-center"
      >
        <span class="text-2xl font-bold text-gray-800"
          >Login to your account</span
        >
        <div class="inline-flex py-2">
          <p class="text-mx font-medium px-2 text-gray-800">
            Create your account!
          </p>
          <span
            ><a
              href="{% url 'signup' %}"
              class="text-mx text-indigo-800 hover:text-indigo-500 font-semibold"
              >Sign up</a
            ></span
          >
        </div>

        <div class="mt-2 bg-white shadow-md rounded-lg text-left">
          <form action="" method="post" class="space-y-6 mb-0">
            {% csrf_token %}
            <div class="h-2 bg-indigo-400 rounded-t-md"></div>
            <div class="px-8 py-6">
              {{ form|crispy }}
              <div class="flex justify-between mt-4 items-baseline">
                <button
                  type="submit"
                  class="text-md hover:bg-indigo-600 text-white bg-indigo-400 py-1 px-2 rounded-lg"
                >
                  Login
                </button>
                <a
                  href="{% url 'password_reset' %}"
                  class="text-sm hover:underline-none hover:text-indigo-700 text-gray-800 px-3"
                  >Forgot Password?</a
                >
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endblock content %}

