{% extends 'base.html' %}
{% block title %}Password reset complete{% endblock title %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}

{% block content %}
<div class=" antialiased flex text-gray- mt-21flex-col justify-center overflow-hidden py-4 mx-auto sm:py-12 ">
    <div class="relative py-2 px-6 pt-2 pb-8 max-w-5xl mx-auto  sm:mx-auto sm:rounded-lg sm:px-10 sm:w-96 text-center">
        <h1 class="text-2xl font-bold text-gray-900 ">Password reset complete.</h1>        <p class="text-sm  font-sm px-1 text-gray-500">Your new password has been set. You can log in now on the <span><a href="{% url 'login' %}"  class="text-mx text-indigo-800 hover:text-indigo-500 font-semibold">Log in page</a></span></p>
         <div class="inline-flex py-2 ">
            </div>
         <div >


         </div>
    </div>
</div>
{% endblock content %}