<body class="bg-gray-200">
{% extends 'base.html' %}
{% block title %}Password Change{% endblock title %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}
{% block content %}

<div class="relative antialiased flex text-gray-800 mt-21flex-col justify-center overflow-hidden py-4 flex sm:py-12 ">
    <div class="relative py-2 px-6 pt-2 pb-8 max-w-5xl mx-auto  sm:mx-auto sm:rounded-lg sm:px-10 sm:w-96 text-center">
        <span class="text-2xl font-bold text-gray-800 ">Password change</span>
         <div class="inline-flex py-2 ">
                <p class="text-sm font-mediium px-1 text-blue-400">Please enter your old password, for security's sake, and then enter your
new password twice so we can verify you typed it in correctly.</p>
            </div>

        <div class="mt-2 bg-white shadow-md  rounded-lg text-left">

<form method="POST" action="" class="space-y-6 mb-0">

{% csrf_token %}
    <div class="h-2 bg-indigo-400 rounded-t-md "></div>
            <div class="px-8 py-6  ">

{{ form|crispy }}
<div class="flex justify-between mt-4 items-baseline">
<button type="submit" class=" text-md hover:bg-indigo-600 w-full text-white bg-indigo-400 py-1 px-2 rounded-lg" >Change my password</button>
  </div>
            </div>
</form>
 </div>

    </div>

</div>
</body>
{% endblock content %}