{% extends 'base.html' %}
{% block title %}Password Change Successful{% endblock title %}
{% block content %}
<div class="relative antialiased flex text-gray-800 mt-21flex-col justify-center overflow-hidden py-4 flex sm:py-12 ">
    <div class="relative py-2 px-6 pt-2 pb-8 max-w-5xl mx-auto  sm:mx-auto sm:rounded-lg sm:px-10 sm:w-96 text-center">
        <span class="text-2xl font-bold text-gray-800 ">Password change successful</span>
         <div class="inline-flex py-2 ">

            </div>
         <div >

            <div ></div>
             <div class="px-8 py-6  ">
             <p class="text-xl font-mediium px-1 text-blue-400">Your password was changed!</p>
             </div>
         </div>
{% endblock content %}